.contaner-small {
  width: 20.375rem;
  height: 4.8125rem;
  display: flex;
  align-items: center;
  background: #212135;
  border-radius: 12px;
  margin-bottom: 14px;
  &__info {
    border-radius: 12px;
    width: 16.125rem;
    height: 100%;
    background-size: cover;
    background-position: center;
    background: #00000082;
    align-content: center;
    background-repeat: round;

    p {
      text-align: left;
      padding-left: 15px;
      font-family: DM Sans;
      font-size: 24px;
      font-weight: 700;
      line-height: 29.29px;
      letter-spacing: -0.045em;
      text-align: left;
      color: #fefefe;
    }
  }
  &__img {
    width: 68px;
  }
}
