$black-color:#181828;
$black-input:#2F2F43;
$white-icons:#FFFFFF;
$white-text:#FEFEFE;
$white-background:#F3F3F3;
$linear-gradient-blue: linear-gradient(99deg, #236BFE 6.69%, #0D4ED3 80.95%);
$text-big: 3rem;
$text-medium: 2.125rem;
$text-small: 1.125rem;
$text-xsmall: .875rem;
