@import "../src/assets/scss/main.scss";
.App {
  text-align: center;
  height: 100%;
  justify-content: center;
  background-color: $black-color;
  min-height: 100vh;
}

.container-components {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.light {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $white-background;
  .container-auth {
    &__title {
      color: $black-color;
    }
    .container-input {
      background: $white-icons;
      &__title {
        color: #3c3c3c;
      }
      input {
        background-color: $white-icons;
        color: $black-color;
      }
    }
  }
  .container-small__text {
    color: $black-color;
  }
  .container-small__return {
    filter: brightness(0) saturate(100%) invert(11%) sepia(27%) saturate(717%)
      hue-rotate(205deg) brightness(91%) contrast(92%);
  }

  .contaner-small {
    background: $white-icons;
  }
  .btn-rounded__small {
    background-color: $white-icons;
    box-shadow: none;
    img {
      filter: brightness(0) saturate(100%) invert(58%) sepia(34%)
        saturate(2693%) hue-rotate(322deg) brightness(92%) contrast(78%);
    }
  }
  .card-container__light {
    button {
      background: $white-icons;
    }
  }
  .nav-container {
    background: $white-icons;
    .btn-semiround:hover {
      background: #f5f5f5;
    }
    .active {
      background: #f5f5f5;
      img {
        filter: brightness(0) saturate(100%) invert(17%) sepia(72%)
          saturate(5090%) hue-rotate(222deg) brightness(99%) contrast(80%);
      }
    }
  }
}
